* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0061FF;
    --light-blue-color: #B4D0E7;
    --dark-red-color: #61082B;
  }

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}


/* link */
a {
    text-decoration: none;
  }

/* list */

li {
    list-style: none;
}

/* container */

.container-80 {
    width: 80%;
    margin: 0 auto;
}

/* column */

.row::after {
    content: '';
    display: table;
    clear: both;
}

.row .col {
    float: left;
    /* border: 1px solid red; */
}

/* padding */

.pdd-10 {
    padding:10px;
}

.pdt-200 {
    padding-top: 200px;
}

/* btn */
a .btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 1em;
    background-color: var(--blue-color);
    color: white;
    font-size: 1em;
}

/* .a .btn2{
    a .btn {
        display: inline-block;
        text-decoration: none;
        padding: 0.2em 1em;
        background-color: var(--blue-color);
        color: white;
        font-size: 1em;
    }
} */

/* nav */
nav{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: white;
}

nav .col {
    width: calc(100% / 2);
    height: 100%;
    line-height: 80px;

}

.nav-col ul{
    display: inline-block;

}

.col.sx > a {
    vertical-align: text-bottom;
}

.sx>ul a {
    display: block;
    height: 100%;
    width: 100%;
}

.dx a:hover{
    border-bottom: 1px solid black;
}

.dx a{
    display: block;
    height: 100%;
    width: 100%;
}

.nav-col li{
    float: left;
    margin-left: 25px;
}

.nav-col a {
    color: black;
}

nav .dx {
    padding-left: 22%;
}

/* jumbotron */

.jumbotron{
    background-color: var(--light-blue-color) ;
    width: 100%;

}

.jumbotron .title h1{
    font-size: 5.2em;
}

.col-40 {
    background-color: yellowgreen;
    height: 400px;
    width: 40%;
    padding-top: 4%;
}

.col-40 .text-40 {
    padding-right: 40%;
    line-height: 1.4em;
}

.text-mini{
    font-size: 0.9em;
}

.fa-arrow-down {
    padding-top: 50px;
    font-size: 2.5em;
}

.col-60 {
    background-color:var(--dark-red-color);
    height: 400px;
    width: 60%;
}

.col-60 img {
    max-width: 100%;
    width: 95%;
}
