* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0061FF;
    --light-blue-color: #B4D0E7;
    --dark-red-color: #61082B;
  }

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* text center */
.txt-center {
    text-align: center;
}

/* link */
a {
    text-decoration: none;
  }

/* list */

li {
    list-style: none;
}

.pointer:hover{
    cursor: pointer;
}

a .btn:hover {
    filter: opacity(80%);
    cursor: pointer;
}

/* container */

.container-80 {
    width: 80%;
    margin: 0 auto;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
}

/* column */
.clmn-title{
    line-height: 2em;
    height: 2em;
    border-bottom: 1px #D5D5D7 solid;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.row .col {
    float: left;
    
    /* border: 1px solid red; */
}

.col-80{
    width: 80%;
    height: 100%;
    background-color: indigo;
}


.col-20{
    width: 20%;
    height: 100%;
    background-color: lightseagreen;
}

.col-30{
    width: 30%;
    height: 100%;
    
}


.col-40{
    width: 40%;
    height: 100%;
    
}

.col-50{
    width: 50%;
    height: 100%;
}

.col-60{
    width: 60%;
    height: 100%;
    
}
.col-70{
    width: 70%;
    height: 100%;
    
}

/* padding */

.pdd-10 {
    padding:10px;
}

.pdd-9-100{
    padding: 9%;
}

.pdd-15{
    padding: 15px;
}

.pdt-5{
    padding-top: 5px;
}

.pdt-10 {
    padding-top: 10px;
}

.pdt-20{
    padding-top: 20px;
}

.pdt-30 {
    padding-top: 30px;
}

.pdb-30 {
    padding-bottom: 30px;
}

.pdt-200 {
    padding-top: 200px;
}

.pdd-0-20 {
    padding: 0 20px;
}

.pdl-30 {
    padding-left: 30px;
}

.pdd-50 {
    padding: 50px;
}

.pdb-40 {
    padding-bottom: 40px;
}
/* margin */

.margint-30{
    margin-top: 30px;
}

.margint-20 {
    margin-top: 20px;
}

.margin-120{
    margin: 0 120px;
}

.margin-0-30 {
    margin: 0 30px;
}

/* position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* color */

.gray {
    color: gray;
    font-size: 0.8em;
}

/* btn */
a .btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 0;
    background-color: var(--blue-color);
    color: white;
    font-size: 1em;
}

/* .a .btn2{
    a .btn {
        display: inline-block;
        text-decoration: none;
        padding: 0.2em 1em;
        background-color: var(--blue-color);
        color: white;
        font-size: 1em;
    }
} */

/* nav */
nav{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: white;
    z-index: 9999;
}

nav .sx,
nav .dx {
    height: 100%;
    line-height: 80px;

}

.col-logo {
    width: 10%;
    height: 100%;
}

.col-logo a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dx .col {
    position: absolute;
    right: 0;
}

.access {
    width: 10%;
    height: 100%;
}

.access .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 7px;
}

.nav-col ul{
    display: inline-block;

}


.sx>ul a {
    display: block;
    height: 100%;
    width: 100%;
}

.sx {
    width: 40%;
}

.dx {
    width: 40%; 
}

.sx li>a:hover{
    border-bottom: 2px solid #0061FF;  
}

.dx li>a:hover{
    border-bottom: 2px solid #0061FF;
}

.dx .menu a:hover {
    background-color: #B4D0E7;
}

.dx a{
    display: block;
    height: 100%;
    width: 100%;
}

.nav-col li{
    float: left;
    margin-left: 25px;
}

.nav-col a {
    color: black;
}
 
.dx ul {
    right: 20px;
}

/* dropdown */

.menu {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
    top: 95px;
  }

.menu::after{
    content: "";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.m-1{
    position: absolute;
    left: -40px;
}

.m-2 {
    position: absolute;
    left: 255px;
}


  .dx li:active .menu,
  .dx li:focus .menu,
  .dx li:hover .menu{
    display: block;
  }

/* jumbotron */

.jumbotron{
    background-color: var(--light-blue-color) ;
    width: 100%;

}

.jumbotron .title h1{
    font-size: 5.2em;
}

.col-40 {
    height: 400px;
    width: 40%;
    padding-top: 4%;
}

.col-40 .text-40 {
    padding-right: 40%;
    line-height: 1.4em;
}

.text-mini{
    font-size: 0.9em;
}

.fa-arrow-down {
    padding-top: 50px;
    font-size: 2.5em;
    color: black;
}

.col-60 {
    height: 400px;
    width: 60%;
}

.col-60 img {
    max-width: 100%;
    width: 95%;
}



#business .container-70{
    padding-top: 10em;
    /* background-color: salmon; */
    /* height: 100vh; */
}


.container-row .fa-folder,
.container-row .fa-user,
.container-row .fa-face-smile {
    color: black;
}

.container-row .btn {
    width: 100%;
}


.business-title h2 {
    font-size: 3em;
}
.fa-regular,
.fa-circle-dot {
    color: #0093CE;
    font-size: 20px;
    padding-right: 5px;
}

.radio span:last-child{
    padding-left: 10px;
}

#business .clmn-3{
    /* height: 100vh; */
    /* height: 100%; */
    border: solid 1px  #D5D5D7;
    width: calc(100% / 3 - 80px);
    /* height: 900px; */
    min-height: 1000px;
}

.buy span{
    border-bottom: 1px solid #D5D5D7 ;
   padding-bottom: 25px;
   display: inline-block;
}

.col-user{
    height: 100%;
    width: 10%;
    margin-right:10px
}

.col-desc{
    height: 100%;
    width: 85%;
}


.list-check {
    line-height: 38px;
}

.fa-check {
    color: #0061FF;
}

.d-lblock{
    float: left;
    height: 100%;
}

.check-blue img {
    width: 15px;
}

.cont-85{
    width: 85%;
}

.cont-5{
    width: 5%;
    margin-right: 10px;
}

/* enterprise */

.team-enterprise{
    width: 100%;
    border: 1px solid #D5D5D7;
}

.enterprise-title{
    width: 100%;
    border-bottom: 1px solid #D5D5D7;
}

.team-enterprise h3 {
    font-size: 2em;
}

.team-enterprise .subtitle {
    font-weight: bold;
    font-size: 1.3em;
}

.team-enterprise .btn {
    width: 90%;
    padding: 10px;
    border: 0;
}



/* dropbox partner */



.partner-img img {
    max-width: 100%;
}

#partner h2 {
    font-size: 2em;
}

#partner p {
    line-height: 2em;
    font-weight: 600;
}


#partner .btn{
    background-color: white;
    border: 1px black solid;
    color: black;
    font-weight: 500;
}


/* operation busuness */

#operation img {
    max-width: 100%;
    object-fit: contain;
}

#operation .col {
    width: calc(100% / 3 - 20px);
}

#operation h1 {
    font-size: 3em;
}

#operation h2 {
    font-size: 2em;
}

#operation p {
    padding-right: 130px;
    line-height: 1.5em;
}

#dpaper {
    text-decoration: underline;
}

/* team */

#team h2 {
    font-size: 2em;
    padding: 30px 0;
}

#team .team-title a {
    color: var(--blue-color);
    text-decoration: underline;
    font-size: 1.3em;
}

.team-title {
    padding-right: 50%;
    padding-bottom: 30px;
}

.cont-3 {
    
    width: 100%;
    height: 600px;
}

#team .cln{
    height: 100%;
    width: calc(100% / 3);
}

.cln>.col {
   
    height: calc(100% / 2);
    width: calc(100% / 2);
}

#team .clsx img,
#team .cldx img {
    position: absolute;
    max-width: 100%;
    width: 50%;
    object-fit: contain;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert();

}

/* background */

.lo-green {
    background-color: #A2D39B;
    width: 100%;
    height: 100%;
}

.bg-green {
    background-color: #D0E9CD;
    padding: 10px;
}

.bg-bord {
    background-color: #61082B;
}

.bg-ltblue {
    background-color: #0093CE;
}

.bg-orange {
    background-color: #FF1C1C;
}

.bg-red{
    background-color: #D5001F;
}

.bg-az {
    background-color: #B4D0E7;
}

.bg-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

/* /background */

.clcenter img {
    padding-top: 60px;
    width: 200px;

}

.line {
    border-bottom: 1px solid lightgray;
    height: 40px;
    width: 70px;
}

.clcenter p {
    padding-top: 100px;
}

.clcenter {
    padding: 0 50px;
    overflow: auto;
    background-color: #F5F5F5
}

.clcenter .firma {
   padding-top: 60px;
}

/* bring dropbox business */

.azure .title{
    color: #61082B;
}

.azure .txt-center {
    padding-top: 12%;
}

.azure .txt-center .btn{
    width: 100%;
    background-color: white;
    color: black;
}

/* domande */

#questions {
    padding-bottom: 150px;
}

.title-qa h2 {
    font-size: 2.5em;
    padding-top: 150px;
    padding-bottom: 50px
}

.list-qa {
    border-top: 1px lightgray solid;
}
.list-qa li{
    padding: 40px 0;
    border-bottom: 1px lightgray solid;
    font-weight: 800;
}

.list-qa span{
    right: 30px;
    font-size: 1.5em;
}

/* q&a hover */

.sub-list {
    display: none;
    color: grey;
    margin-top: 20px;
    padding-right: 15%;
    font-weight: 500;
}

.fa-chevron-up {
    display: none;
}

.q-a:hover .fa-chevron-up {
    display: block;
}

.q-a:hover .fa-angle-down {
    display: none;
}


.q-a:hover .sub-list{
    display: block;
}


/* footer */

footer {
    color: white;
    background-color: black;
    padding-top: 150px;
}

footer .row {
    padding-bottom: 150px;
}

footer h3 {
    padding-bottom: 20px;
}

footer a {
    color: white;
    line-height: 2em;
}

footer .col {
    width: calc(100% / 5);
}

.language {
    padding-bottom: 50px;
}

.language:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    margin-bottom: 30px;
    background-color: lightgrey;
}

footer .container-80 ul li:hover{
    text-decoration: underline;
}